@media screen and (min-width: 1024px) {
  body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; } }
body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }
  body header {
    position: relative;
    width: 100%;
    min-height: 60vw;
    margin-top: 0; }
    body header .header-text {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      z-index: 40; }
      body header .header-text h1 {
        color: #F3FBEA;
        font-size: 80px;
        padding: 0;
        margin: 0; }
    body header img {
      width: 100%;
      position: absolute;
      height: 100%; }
  body .nav-main {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    color: #C8E462;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    body .nav-main ul {
      margin: 0 auto; }
    body .nav-main * {
      display: inline-flex;
      flex-wrap: wrap;
      padding: 10px 10px 10px 10px;
      font-size: 20px;
      text-decoration: none;
      color: #C8E462; }
  body .quotes {
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.8); }
    body .quotes .quotesContainer {
      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      align-items: stretch;
      align-content: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap; }
      body .quotes .quotesContainer ul {
        max-width: 40%;
        text-transform: uppercase;
        background: whitesmoke;
        margin: 15px;
        font-size: 18px;
        padding: 10px;
        color: rgba(0, 0, 0, 0.8); }
        body .quotes .quotesContainer ul * {
          display: block; }
  body .photos .photosContainer {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    align-content: flex-start;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap; }
    body .photos .photosContainer ul {
      width: 30%;
      margin: 10px auto;
      padding: 10px; }
      body .photos .photosContainer ul li {
        display: block; }
    body .photos .photosContainer .posted-photo {
      max-width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 2px;
      background: whitesmoke;
      border-radius: 5px;
      color: black; }
  body a:hover {
    color: #EA0034; }
  body footer {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50px;
    color: #F3FBEA; }

/*# sourceMappingURL=style.css.map */
