////////////////
// VARIABLES
////////////////

// colors
$fh-lime : #C8E462;
$fh-navy : #072147;
$fh-mint : #B7E49D;
$fh-olive: #545C33;
$fh-pink : #EA0034;
$fh-grey : #F3FBEA;
$fh-white: whitesmoke;
$fh-coal : #374341;
$fh-orange: #F09900;

// misc
$featured-image-width: 100%;
$footer-height: 50px;
$a-decor: none;

// navigation
$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: $fh-coal;
$nav-font-color: $fh-lime;
$link-hover-color: $fh-pink;


.hidden {
  display: none;
}

.image-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1001;
}

////////////////
// Nav bar styling
////////////////

.navigation {
  height: $nav-height;
  background: $nav-background;
  z-index: 1000;
}
.logo {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  color: $fh-orange;
  a,
  a:visited {
    color: $fh-orange;
    text-decoration: none;
  }
}
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
// Dropdown list: bound to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

// Mobile Nav Bar
// bound to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;

}
@media only screen and (max-width: $breakpoint) {

  // Hamburger nav icon: visible on mobile only
  .nav-mobile {
    display: block;
    z-index: 1000;
  }
  .climb {
    width: 300px;
  }
  .homepage-image {
    margin: 0 auto;
  }
  h1 {
    font-size: 50px;
  }
  main {
    width: 80%;
    padding: 0;
    form {
      width: 60%;
    }
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    z-index: 1000;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
    z-index: 1000;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  z-index: 1000;
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

////////////////
// Form Styling
////////////////

form {
  max-width: 50%;
}

////////////////
// Body Styling
////////////////

// slideshow


body {



  #slideshow {
    margin: 50px auto;
    position: relative;
    width: 500px;
    height: 400px;
    padding: 20px;
    z-index: -10;
    div {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      img {
      }
    }
  }

  @media only screen and (max-width: $breakpoint) {
    #slideshow {
      margin: 50px auto;
      position: relative;
      width: 240px;
      height: 240px;
      padding: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);
      div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
  }

  font-family: "Roboto", sans-serif;
  background-color: $fh-white;
  color: $fh-coal;
  width: 100%;
  margin: 0;
  padding: 0;
  .climb {  // home page image - may change
    max-width: 50%;
    margin: 0 auto;
  }

  .wrap {
    text-align: center;
    .content {
      padding: 20px;
      text-align: center;
      margin: 10px 20px 20px auto;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 15px solid $fh-lime;
      border-right: 2px solid $fh-lime;
      -moz-box-shadow: 2px 2px 15px #ccc;
      -webkit-box-shadow: 2px 2px 15px #ccc;
      box-shadow: 2px 2px 15px #ccc;    }
    input {
      position: relative;
      z-index: 10;
      margin: 2px;
      padding: 0 5px;
      width: 225px;
      height: 30px;
      border: none;
    }
    .submit {
      color: $fh-coal;
    }
    .submit:hover{
      background: $fh-lime;
    }
    input:focus {
      z-index: 15;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      border-radius:3px;
      outline: 0;
    }
  }

  .homepage, .register {
    width: 90%;
    max-height: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .homepage-image {
    }
    h1 {
      color: $fh-pink;
      font-size: 2em;
    }
  }
  .yours {
    color: $fh-pink;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    background: rgba(0,0,0,.3);
    z-index: 1004;
    width: 300px;
    margin-left: 16px;
    margin-top: -319px;
  }
  .quotes {
    background: $fh-white;
    color: $fh-coal;
    margin-bottom: 80px;
    .quotesContainer {
      padding: 0 0 0;
      ul {
        display: block;
        list-style: none;

        li {
          display:block;
        }
      }
    }
    h1 {
      text-align: right;
      font-size: 20px;
      padding-right: 20px;
    }
    #post-quote-header {
      text-decoration: none;
      color: $fh-coal;
    }
    #post-quote-header:hover{
      color: $fh-pink;
    }
    blockquote {
      display: block;
      background: $fh-white;
      padding: 15px 40px 15px 40px;
      margin: 0 20px 20px 20px;
      position: relative;
      line-height: 1.2;
      color: $fh-coal;
      text-align: justify;
      border-left: 15px solid $fh-orange;
      border-right: 2px solid $fh-orange;
      -moz-box-shadow: 2px 2px 15px #ccc;
      -webkit-box-shadow: 2px 2px 15px #ccc;
      box-shadow: 2px 2px 15px #ccc;
    }
    blockquote::before{
      content: "\201C";
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: $fh-coal;
      position: absolute;
      left: 10px;
      top: 5px;
    }
    blockquote::after{
      content:""
    }
    blockquote small{
      font-weight: bold;
    }

    // .quotesContainer{
    //   display: flex;
    //   display: -webkit-flex;
    //   -webkit-flex-direction: row;
    //   flex-direction: row;
    //   -webkit-align-items: stretch;
    //   align-items: stretch;
    //   align-content: flex-start;
    //   -webkit-justify-content: flex-start;
    //   justify-content:flex-start;
    //   flex-wrap: wrap;
    //   ul {
    //     max-width: 40%;
    //     text-transform: uppercase;
    //     background: $fh-white;
    //     margin: 15px;
    //     font-size: 18px;
    //     padding: 10px;
    //     color: $fh-coal;
    //     * {
    //       display: block;
    //     }
    //   }
    // }
  }

  .photos {

    .photosContainer {

      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      align-content: flex-start;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      flex-wrap: wrap;
      .image-container {
        width: 30%;
        margin: 20px;
        padding: 0;
        * {
          display: block;
        }
      }
      .posted-photo {
        object-fit: cover;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        width: 300px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.5,.8,.5,1);
      }
      .posted-photo:hover{
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .photo-info {
        position: absolute;
        background: rgba(0,0,0,.3);
        color: $fh-white;
        z-index: 1004;
        width: 300px;
        margin-left: 16px;
        margin-top: -120px;

      }
    }
  }

  input {
    border: none;
    outline: none;
    background: none;
    padding: 20px;

    text-align: center;

  }

  .form-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto 100px auto;
    padding: 0;
    background: $fh-white;
    color: $fh-coal;
    text-transform: uppercase;
  }

  footer {
    position: fixed;
    bottom: 0;
    background: $fh-coal;
    width: 100%;
    height: $footer-height;
    color: $fh-lime;
    padding-left: 20px;
    text-transform: uppercase;
    #logout {
      color: $fh-orange;
      text-decoration: none;
    }
  }

}
